#navbarSupportedContent{
    justify-content: center;
    margin: 10px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    /* display: flex; */
}
div{
    margin: 5px;
   
}